.login-container {
    height: 100vh;
    background: #f7f7f7;
}

.login-box {
    background: #ffffff;
    width: 100%;
    max-width: 420px;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0px 6px 18px rgba(0,0,0,0.12);
}

.login-logo {
    height: 120px;
    margin: 0 auto;
    display: block;
}
