USE [master]
GO
/****** Object:  Database [SMP_IT_HANIYA]    Script Date: 06/02/2026 20:33:29 ******/
CREATE DATABASE [SMP_IT_HANIYA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SMP_IT_HANIYA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SMP_IT_HANIYA.mdf' , SIZE = 991232KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SMP_IT_HANIYA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SMP_IT_HANIYA_log.ldf' , SIZE = 10887168KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SMP_IT_HANIYA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SMP_IT_HANIYA]
GO
/****** Object:  User [rahmat]    Script Date: 06/02/2026 20:33:30 ******/
CREATE USER [rahmat] FOR LOGIN [rahmat] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[mst_academic_classes]    Script Date: 06/02/2026 20:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_academic_classes](
	[academic_class_id] [varchar](20) NOT NULL,
	[academic_year_id] [varchar](20) NOT NULL,
	[class_id] [varchar](20) NOT NULL,
	[homeroom_teacher_id] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[created_by] [varchar](20) NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[academic_class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_academic_years]    Script Date: 06/02/2026 20:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_academic_years](
	[academic_year_id] [varchar](20) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[semester] [varchar](10) NOT NULL,
	[status] [varchar](10) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [varchar](20) NULL,
	[updated_by] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[academic_year_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_articles]    Script Date: 06/02/2026 20:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_articles](
	[article_id] [varchar](20) NOT NULL,
	[title] [varchar](255) NOT NULL,
	[slug] [varchar](255) NOT NULL,
	[content] [varchar](max) NULL,
	[image] [varchar](255) NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [varchar](20) NULL,
	[updated_by] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[article_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_classes]    Script Date: 06/02/2026 20:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_classes](
	[class_id] [varchar](20) NOT NULL,
	[class_name] [varchar](20) NOT NULL,
	[class_level] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [varchar](20) NULL,
	[updated_by] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_detail_settings]    Script Date: 06/02/2026 20:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_detail_settings](
	[detail_id] [varchar](20) NOT NULL,
	[header_id] [varchar](20) NOT NULL,
	[item_code] [varchar](50) NOT NULL,
	[item_name] [varchar](255) NOT NULL,
	[item_desc] [nvarchar](max) NULL,
	[status] [varchar](20) NULL,
	[item_type] [varchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [varchar](20) NULL,
	[updated_by] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_employees]    Script Date: 06/02/2026 20:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_employees](
	[employee_id] [varchar](20) NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[gender] [char](1) NULL,
	[birth_place] [varchar](100) NULL,
	[birth_date] [date] NULL,
	[address] [varchar](255) NULL,
	[phone] [varchar](20) NULL,
	[entry_date] [date] NOT NULL,
	[level] [varchar](50) NULL,
	[status] [varchar](10) NULL,
	[profile_photo] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [varchar](20) NULL,
	[updated_by] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_events]    Script Date: 06/02/2026 20:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_events](
	[event_id] [varchar](20) NOT NULL,
	[event_name] [varchar](255) NOT NULL,
	[description] [varchar](max) NULL,
	[location] [varchar](255) NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [varchar](20) NULL,
	[updated_by] [varchar](20) NULL,
	[profile_photo] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_header_settings]    Script Date: 06/02/2026 20:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_header_settings](
	[header_id] [varchar](20) NOT NULL,
	[title] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [varchar](20) NULL,
	[updated_by] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[header_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_menu]    Script Date: 06/02/2026 20:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_menu](
	[menu_id] [varchar](11) NOT NULL,
	[parent_id] [varchar](11) NULL,
	[menu_name] [varchar](100) NOT NULL,
	[url] [varchar](255) NULL,
	[icon] [varchar](100) NULL,
	[sort_order] [int] NULL,
	[is_active] [bit] NULL,
	[created_date] [datetime] NOT NULL,
	[updated_date] [datetime] NULL,
	[created_by] [varchar](50) NOT NULL,
	[updated_by] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[menu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_student_classes]    Script Date: 06/02/2026 20:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_student_classes](
	[student_class_id] [varchar](20) NOT NULL,
	[student_id] [varchar](20) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [varchar](20) NULL,
	[updated_by] [varchar](20) NULL,
	[academic_class_id] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[student_class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_students]    Script Date: 06/02/2026 20:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_students](
	[student_id] [varchar](20) NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NULL,
	[nis] [varchar](20) NOT NULL,
	[birth_date] [date] NULL,
	[birth_place] [varchar](100) NULL,
	[gender] [char](1) NULL,
	[address] [varchar](255) NULL,
	[father_name] [varchar](100) NULL,
	[mother_name] [varchar](100) NULL,
	[father_phone] [varchar](20) NULL,
	[mother_phone] [varchar](20) NULL,
	[father_job] [varchar](100) NULL,
	[mother_job] [varchar](100) NULL,
	[password] [varchar](255) NULL,
	[entry_date] [date] NULL,
	[graduation_date] [date] NULL,
	[profile_photo] [varchar](255) NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [varchar](20) NULL,
	[updated_by] [varchar](20) NULL,
	[full_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_subjects]    Script Date: 06/02/2026 20:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_subjects](
	[subject_id] [varchar](20) NOT NULL,
	[subject_name] [varchar](100) NOT NULL,
	[subject_code] [varchar](20) NULL,
	[class_level] [int] NOT NULL,
	[description] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [varchar](20) NULL,
	[updated_by] [varchar](20) NULL,
	[minimum_value] [float] NULL,
	[status] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[subject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_tag_articles]    Script Date: 06/02/2026 20:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_tag_articles](
	[tag_id] [varchar](20) NOT NULL,
	[article_id] [varchar](20) NOT NULL,
	[tag_code] [varchar](50) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [varchar](20) NULL,
	[updated_by] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_tag_events]    Script Date: 06/02/2026 20:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_tag_events](
	[tag_id] [varchar](20) NOT NULL,
	[event_id] [varchar](20) NOT NULL,
	[tag_code] [varchar](50) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [varchar](20) NULL,
	[updated_by] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_teachers]    Script Date: 06/02/2026 20:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_teachers](
	[teacher_id] [varchar](20) NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NULL,
	[npk] [varchar](20) NOT NULL,
	[gender] [char](1) NOT NULL,
	[birth_place] [varchar](100) NULL,
	[birth_date] [date] NULL,
	[profile_photo] [varchar](255) NULL,
	[address] [varchar](255) NULL,
	[phone] [varchar](20) NULL,
	[entry_date] [date] NOT NULL,
	[password] [varchar](255) NULL,
	[level] [varchar](50) NULL,
	[status] [varchar](10) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [varchar](20) NULL,
	[updated_by] [varchar](20) NULL,
	[full_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[teacher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[npk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[txn_attendance_details]    Script Date: 06/02/2026 20:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[txn_attendance_details](
	[attendance_detail_id] [varchar](20) NOT NULL,
	[attendance_id] [varchar](20) NOT NULL,
	[student_id] [varchar](20) NOT NULL,
	[status] [varchar](20) NULL,
	[notes] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [varchar](20) NULL,
	[updated_by] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[attendance_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[txn_attendances]    Script Date: 06/02/2026 20:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[txn_attendances](
	[attendance_id] [varchar](20) NOT NULL,
	[attendance_date] [date] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [varchar](20) NULL,
	[updated_by] [varchar](20) NULL,
	[academic_class_id] [varchar](20) NULL,
	[teacher_id] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[attendance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[txn_grade_details]    Script Date: 06/02/2026 20:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[txn_grade_details](
	[grade_detail_id] [varchar](20) NOT NULL,
	[grade_id] [varchar](20) NOT NULL,
	[grade_value] [decimal](5, 2) NULL,
	[notes] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [varchar](20) NULL,
	[updated_by] [varchar](20) NULL,
	[student_id] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[grade_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[txn_grades]    Script Date: 06/02/2026 20:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[txn_grades](
	[grade_id] [varchar](20) NOT NULL,
	[subject_id] [varchar](20) NOT NULL,
	[teacher_id] [varchar](20) NOT NULL,
	[grade_type] [varchar](50) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [varchar](20) NULL,
	[updated_by] [varchar](20) NULL,
	[academic_class_id] [varchar](20) NULL,
	[minimum_value] [float] NULL,
	[grade_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[grade_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[txn_menu_role]    Script Date: 06/02/2026 20:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[txn_menu_role](
	[menu_role_id] [varchar](11) NOT NULL,
	[menu_id] [varchar](11) NOT NULL,
	[role_id] [varchar](11) NOT NULL,
	[is_view] [int] NOT NULL,
	[is_create] [int] NOT NULL,
	[is_update] [int] NOT NULL,
	[is_delete] [int] NOT NULL,
	[created_date] [datetime] NOT NULL,
	[updated_date] [datetime] NULL,
	[created_by] [varchar](50) NOT NULL,
	[updated_by] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[menu_role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[txn_payment_instalments]    Script Date: 06/02/2026 20:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[txn_payment_instalments](
	[instalment_id] [varchar](20) NOT NULL,
	[payment_id] [varchar](20) NOT NULL,
	[instalment_number] [int] NOT NULL,
	[total_payment] [decimal](12, 2) NOT NULL,
	[payment_date] [date] NOT NULL,
	[notes] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [varchar](20) NULL,
	[updated_by] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[instalment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[txn_payments]    Script Date: 06/02/2026 20:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[txn_payments](
	[payment_id] [varchar](20) NOT NULL,
	[student_class_id] [varchar](20) NOT NULL,
	[payment_type] [varchar](50) NOT NULL,
	[total_payment] [decimal](12, 2) NOT NULL,
	[remaining_payment] [decimal](12, 2) NOT NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [varchar](20) NULL,
	[updated_by] [varchar](20) NULL,
	[total_price] [decimal](18, 2) NOT NULL,
	[payment_date] [date] NOT NULL,
	[payment_method] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[txn_schedule_details]    Script Date: 06/02/2026 20:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[txn_schedule_details](
	[schedule_detail_id] [varchar](20) NOT NULL,
	[schedule_id] [varchar](20) NOT NULL,
	[subject_id] [varchar](20) NOT NULL,
	[teacher_id] [varchar](20) NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [varchar](20) NULL,
	[updated_by] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[schedule_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[txn_schedules]    Script Date: 06/02/2026 20:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[txn_schedules](
	[schedule_id] [varchar](20) NOT NULL,
	[day] [varchar](20) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [varchar](20) NULL,
	[updated_by] [varchar](20) NULL,
	[academic_class_id] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[mst_academic_years] ADD  DEFAULT ('1') FOR [semester]
GO
ALTER TABLE [dbo].[mst_academic_years] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[mst_academic_years] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[mst_articles] ADD  DEFAULT ('PUBLISHED') FOR [status]
GO
ALTER TABLE [dbo].[mst_articles] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[mst_classes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[mst_detail_settings] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[mst_detail_settings] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[mst_employees] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[mst_employees] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[mst_events] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[mst_events] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[mst_header_settings] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[mst_menu] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[mst_menu] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[mst_menu] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[mst_students] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[mst_students] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[mst_subjects] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[mst_tag_articles] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[mst_tag_events] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[mst_teachers] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[mst_teachers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[txn_grades] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[txn_menu_role] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[txn_payment_instalments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[txn_payments] ADD  DEFAULT ('UNPAID') FOR [status]
GO
ALTER TABLE [dbo].[txn_payments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[txn_payments] ADD  DEFAULT ((0)) FOR [total_price]
GO
ALTER TABLE [dbo].[txn_payments] ADD  DEFAULT (getdate()) FOR [payment_date]
GO
ALTER TABLE [dbo].[mst_academic_classes]  WITH CHECK ADD  CONSTRAINT [fk_academic_classes_academic_year] FOREIGN KEY([academic_year_id])
REFERENCES [dbo].[mst_academic_years] ([academic_year_id])
GO
ALTER TABLE [dbo].[mst_academic_classes] CHECK CONSTRAINT [fk_academic_classes_academic_year]
GO
ALTER TABLE [dbo].[mst_academic_classes]  WITH CHECK ADD  CONSTRAINT [fk_academic_classes_class] FOREIGN KEY([class_id])
REFERENCES [dbo].[mst_classes] ([class_id])
GO
ALTER TABLE [dbo].[mst_academic_classes] CHECK CONSTRAINT [fk_academic_classes_class]
GO
ALTER TABLE [dbo].[mst_detail_settings]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[mst_employees] ([employee_id])
GO
ALTER TABLE [dbo].[mst_detail_settings]  WITH CHECK ADD FOREIGN KEY([header_id])
REFERENCES [dbo].[mst_header_settings] ([header_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[mst_detail_settings]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[mst_employees] ([employee_id])
GO
ALTER TABLE [dbo].[mst_events]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[mst_employees] ([employee_id])
GO
ALTER TABLE [dbo].[mst_events]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[mst_employees] ([employee_id])
GO
ALTER TABLE [dbo].[mst_menu]  WITH CHECK ADD FOREIGN KEY([parent_id])
REFERENCES [dbo].[mst_menu] ([menu_id])
GO
ALTER TABLE [dbo].[mst_student_classes]  WITH CHECK ADD  CONSTRAINT [fk_student_classes_academic_class] FOREIGN KEY([academic_class_id])
REFERENCES [dbo].[mst_academic_classes] ([academic_class_id])
GO
ALTER TABLE [dbo].[mst_student_classes] CHECK CONSTRAINT [fk_student_classes_academic_class]
GO
ALTER TABLE [dbo].[mst_tag_articles]  WITH CHECK ADD FOREIGN KEY([article_id])
REFERENCES [dbo].[mst_articles] ([article_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[mst_tag_articles]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[mst_employees] ([employee_id])
GO
ALTER TABLE [dbo].[mst_tag_articles]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[mst_employees] ([employee_id])
GO
ALTER TABLE [dbo].[mst_tag_events]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[mst_employees] ([employee_id])
GO
ALTER TABLE [dbo].[mst_tag_events]  WITH CHECK ADD FOREIGN KEY([event_id])
REFERENCES [dbo].[mst_events] ([event_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[mst_tag_events]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[mst_employees] ([employee_id])
GO
ALTER TABLE [dbo].[txn_attendance_details]  WITH CHECK ADD  CONSTRAINT [fk_attdetail_attendance] FOREIGN KEY([attendance_id])
REFERENCES [dbo].[txn_attendances] ([attendance_id])
GO
ALTER TABLE [dbo].[txn_attendance_details] CHECK CONSTRAINT [fk_attdetail_attendance]
GO
ALTER TABLE [dbo].[txn_attendance_details]  WITH CHECK ADD  CONSTRAINT [fk_attdetail_student] FOREIGN KEY([student_id])
REFERENCES [dbo].[mst_students] ([student_id])
GO
ALTER TABLE [dbo].[txn_attendance_details] CHECK CONSTRAINT [fk_attdetail_student]
GO
ALTER TABLE [dbo].[txn_attendances]  WITH CHECK ADD  CONSTRAINT [fk_attendances_teacher] FOREIGN KEY([teacher_id])
REFERENCES [dbo].[mst_teachers] ([teacher_id])
GO
ALTER TABLE [dbo].[txn_attendances] CHECK CONSTRAINT [fk_attendances_teacher]
GO
ALTER TABLE [dbo].[txn_grade_details]  WITH CHECK ADD  CONSTRAINT [fk_gradedetail_grade] FOREIGN KEY([grade_id])
REFERENCES [dbo].[txn_grades] ([grade_id])
GO
ALTER TABLE [dbo].[txn_grade_details] CHECK CONSTRAINT [fk_gradedetail_grade]
GO
ALTER TABLE [dbo].[txn_grade_details]  WITH CHECK ADD  CONSTRAINT [fk_gradedetails_student] FOREIGN KEY([student_id])
REFERENCES [dbo].[mst_students] ([student_id])
GO
ALTER TABLE [dbo].[txn_grade_details] CHECK CONSTRAINT [fk_gradedetails_student]
GO
ALTER TABLE [dbo].[txn_grades]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[mst_employees] ([employee_id])
GO
ALTER TABLE [dbo].[txn_grades]  WITH CHECK ADD FOREIGN KEY([subject_id])
REFERENCES [dbo].[mst_subjects] ([subject_id])
GO
ALTER TABLE [dbo].[txn_grades]  WITH CHECK ADD FOREIGN KEY([teacher_id])
REFERENCES [dbo].[mst_teachers] ([teacher_id])
GO
ALTER TABLE [dbo].[txn_grades]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[mst_employees] ([employee_id])
GO
ALTER TABLE [dbo].[txn_grades]  WITH CHECK ADD  CONSTRAINT [fk_grades_academic_class] FOREIGN KEY([academic_class_id])
REFERENCES [dbo].[mst_academic_classes] ([academic_class_id])
GO
ALTER TABLE [dbo].[txn_grades] CHECK CONSTRAINT [fk_grades_academic_class]
GO
ALTER TABLE [dbo].[txn_menu_role]  WITH CHECK ADD FOREIGN KEY([menu_id])
REFERENCES [dbo].[mst_menu] ([menu_id])
GO
ALTER TABLE [dbo].[txn_menu_role]  WITH CHECK ADD FOREIGN KEY([menu_id])
REFERENCES [dbo].[mst_menu] ([menu_id])
GO
ALTER TABLE [dbo].[txn_payment_instalments]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[mst_employees] ([employee_id])
GO
ALTER TABLE [dbo].[txn_payment_instalments]  WITH CHECK ADD FOREIGN KEY([payment_id])
REFERENCES [dbo].[txn_payments] ([payment_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[txn_payment_instalments]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[mst_employees] ([employee_id])
GO
ALTER TABLE [dbo].[txn_payments]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[mst_employees] ([employee_id])
GO
ALTER TABLE [dbo].[txn_payments]  WITH CHECK ADD FOREIGN KEY([student_class_id])
REFERENCES [dbo].[mst_student_classes] ([student_class_id])
GO
ALTER TABLE [dbo].[txn_payments]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[mst_employees] ([employee_id])
GO
ALTER TABLE [dbo].[txn_schedule_details]  WITH CHECK ADD  CONSTRAINT [fk_schedetail_schedule] FOREIGN KEY([schedule_id])
REFERENCES [dbo].[txn_schedules] ([schedule_id])
GO
ALTER TABLE [dbo].[txn_schedule_details] CHECK CONSTRAINT [fk_schedetail_schedule]
GO
ALTER TABLE [dbo].[txn_schedule_details]  WITH CHECK ADD  CONSTRAINT [fk_schedetail_subject] FOREIGN KEY([subject_id])
REFERENCES [dbo].[mst_subjects] ([subject_id])
GO
ALTER TABLE [dbo].[txn_schedule_details] CHECK CONSTRAINT [fk_schedetail_subject]
GO
ALTER TABLE [dbo].[txn_schedule_details]  WITH CHECK ADD  CONSTRAINT [fk_schedetail_teacher] FOREIGN KEY([teacher_id])
REFERENCES [dbo].[mst_teachers] ([teacher_id])
GO
ALTER TABLE [dbo].[txn_schedule_details] CHECK CONSTRAINT [fk_schedetail_teacher]
GO
ALTER TABLE [dbo].[txn_schedules]  WITH CHECK ADD  CONSTRAINT [fk_schedules_academic_class] FOREIGN KEY([academic_class_id])
REFERENCES [dbo].[mst_academic_classes] ([academic_class_id])
GO
ALTER TABLE [dbo].[txn_schedules] CHECK CONSTRAINT [fk_schedules_academic_class]
GO
USE [master]
GO
