USE [SMP_IT_HANIYA]
GO
/****** Object:  Table [dbo].[mst_detail_setting_landingpages]    Script Date: 17/02/2026 16:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_detail_setting_landingpages](
	[detail_id] [varchar](20) NOT NULL,
	[header_id] [varchar](20) NOT NULL,
	[item_code] [varchar](50) NOT NULL,
	[item_name] [varchar](255) NOT NULL,
	[item_desc] [nvarchar](max) NULL,
	[status] [varchar](20) NULL,
	[item_type] [varchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [varchar](20) NULL,
	[updated_by] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_header_setting_landingpages]    Script Date: 17/02/2026 16:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_header_setting_landingpages](
	[header_id] [varchar](20) NOT NULL,
	[title] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [varchar](20) NULL,
	[updated_by] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[header_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[mst_detail_setting_landingpages] ([detail_id], [header_id], [item_code], [item_name], [item_desc], [status], [item_type], [created_at], [updated_at], [created_by], [updated_by]) VALUES (N'ABOUT_MISSION1', N'ABOUT', N'MISSION', N'MISSION', N'TO OPTIMISE STUDENTS'' POTENTIAL THROUGH QUALITY EDUCATION BASED ON CHRISTIAN VALUES', N'ACTIVE', N'text', CAST(N'2026-02-17T16:15:27.817' AS DateTime), CAST(N'2026-02-17T16:15:27.817' AS DateTime), N'admin', N'admin')
GO
INSERT [dbo].[mst_header_setting_landingpages] ([header_id], [title], [created_at], [updated_at], [created_by], [updated_by]) VALUES (N'ABOUT', N'About', CAST(N'2026-02-17T16:00:10.183' AS DateTime), CAST(N'2026-02-17T16:00:10.183' AS DateTime), N'admin', N'admin')
INSERT [dbo].[mst_header_setting_landingpages] ([header_id], [title], [created_at], [updated_at], [created_by], [updated_by]) VALUES (N'ACADEMIC', N'Academic', CAST(N'2026-02-17T15:59:57.850' AS DateTime), CAST(N'2026-02-17T15:59:57.850' AS DateTime), N'admin', N'admin')
INSERT [dbo].[mst_header_setting_landingpages] ([header_id], [title], [created_at], [updated_at], [created_by], [updated_by]) VALUES (N'CONTACT', N'Contact', CAST(N'2026-02-17T16:00:19.867' AS DateTime), CAST(N'2026-02-17T16:00:19.867' AS DateTime), N'admin', N'admin')
GO
ALTER TABLE [dbo].[mst_detail_setting_landingpages] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[mst_detail_setting_landingpages]  WITH CHECK ADD  CONSTRAINT [FK__mst_detai__heade__32767D0B] FOREIGN KEY([header_id])
REFERENCES [dbo].[mst_header_setting_landingpages] ([header_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[mst_detail_setting_landingpages] CHECK CONSTRAINT [FK__mst_detai__heade__32767D0B]
GO
